body {
    background-color:rgb(255, 255, 255);
}

.lineaalta {
    background-color: rgb(45, 182, 27);
}


.carousel-item {
    height: 85vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.altezzafinta {
    height: 600px;
}

.zindex {
    z-index: 1010;
}

.altezzanav {
    height: 80px;
}

.margintop {
    margin-top: 100px;
}